// .articles {
//     // background-color: $veryLightGray;

// }

.article {

    // &__content{

    // }
    &__grid {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-template-columns: 1fr;
        grid-gap: 1.7rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item {
        border-radius: .4rem;
        overflow: hidden;
        background-color: $veryLightGray;
        box-shadow: 0px 3px 12px rgba(0,0,0,.15);
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.06) rotateZ(-2deg);
        }
        &:nth-child(even) {
            &:hover {
                transform: scale(1.06) rotateZ(2deg);
            }
        }
        
    }
    &__image {
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__text {
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        color: $grayishBlue;
        
        @include breakpoint-up(medium) {
            padding: 1.875rem 1.56rem;
        }

    }
    &__author {
        font-size: .62rem;
        margin-bottom: .6rem;

    }
    &__title {
        font-size: 1.1rem;
        line-height: 1.2;
        color: $darkBlue;
        margin-bottom: .6rem;
        transition: color .2s ease-in-out;
        
        &:hover {
            color: $limeGreen;
        }
    }
    &__description {
        font-size: .9rem;
    }
}