.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    .container {

        
            @include breakpoint-up(large){
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 3fr;
                grid-template-rows: 1fr auto;
                grid-template-areas: "logo links1 links2 cta"
                "social links1 links2 copyright";
                grid-gap: 1rem;
                justify-items: start;
            }
    }

    a{
        color: $white;
    }

    &__logo {
        display:inline-block;

        @include breakpoint-down(medium){
            margin-bottom: 1.87rem;
        }
        @include breakpoint-up(large){
            grid-area: logo;
        }
    }
    &__social {

        @include breakpoint-down(medium){
            margin-bottom: 1.87rem;
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;
            margin-right: 1rem;

            svg path {
                transition: fill .3s ease-in-out;
            }

            &:hover svg path {
                fill: $limeGreen;
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
    &__links {
        display: flex;
        font-size: .95rem;
        flex-direction: column;
        align-items: center;

        @include breakpoint-up(large){
            align-items: start;
            justify-content: space-between;
        }

        a {
            line-height: 2.2;
            transition: color .3s ease-in-out;

            &:hover {
                color: $limeGreen;
            }
        }

        &.col1{
            @include breakpoint-up(large){
                grid-area: links1;
            }
        }
        &.col2{
            @include breakpoint-down(medium){
                margin-bottom: 1.87rem;
            }
            @include breakpoint-up(large){
                grid-area: links2;
            }
        }
    }
    &__cta{
        @include breakpoint-up(large){
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.btn{
            @include breakpoint-down(medium){
                margin-bottom: 1.87rem;
            }
        }
    }
    &__copyright {
        font-size: .95rem;
        color: $grayishBlue;
        @include breakpoint-up(large){
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }
}